* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


ul {
    list-style-type: none;
    align-items: center;
}

header {
    background-image: url(../project-campusparty/images/banner-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
}

h1 span {
    font-weight: 700;
}

h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.05em;
}

h2 strong {
    color: #0099FF;
}

h3 {
    color: #212E6B;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

h4 {
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

p {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
}

main {
    margin-right: 80px;
}

footer {
    align-items: center;
    align-content: center;
}

button {
    width: 170px;
    height: 40px;
    background-color: #0099FF;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 30px;
    border: none;
}

.footer p {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.footer div {
    padding: 28px 0;
    text-align: center;
    background-color: #0099FF;
}
.container-sobre {
    background-image: url(../project-campusparty/images/bg-info.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 37px;
    margin-bottom: 40px;
}

.textcenter {
    max-width: 500px;
}

.cpmudouvida-banner {
    background-image: url(../project-campusparty/images/banner-cpmudouvida.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 55px;
}

.cpmudouvida p {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.cpmudouvida-videos {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

.cpmudouvida iframe {
    margin: 10px;
}

.cpmudouvida {
    text-align: center;
}

.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
    height: 6px;
    width: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    right: calc(50% - 20px);
}

.hamburger-menu {
    top: 15px;
}

.hamburger-menu::after {
    content: "";
    top: 30px;
}

.hamburger-menu::before {
    content:"";
    top: 15px;
}

.rotate-menu {
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 60px;
}

.nav-container {
    background-color: #212E6B;
    text-transform: uppercase;
    display: flex;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    padding: 12px 50px 12px 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
}

.nav-container ul {
    display: flex;
}

.nav-container ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding-left: 30px;
    font-size: 13px;
}

.header-info {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 180px;

}

.header-info h1 {
    width: 630px;
    z-index: 0;
}

.nav-container2 {
    width: 80px;
    text-align: center;  
    text-decoration: none;
    background-color: #212E6B;
    height: 100vh; 
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 15px;
 
}
.nav-container2 ul {
    margin-top: 20px;
}

.nav-container2 > div > figure {
    padding: 3px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.social-icons li {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.span1::before {
    content: "";
    background-color: #0099FF;
    height: 40px;
    position: absolute;
    width: 490px;
    margin-top: 30px;
    margin-left: 10px;
    z-index: -1;
}

.span2::before {
    content: "";
    background-color: #0099FF;
    height: 40px;
    position: absolute;
    width: 370px;
    margin-top: 30px;
    margin-left: 10px;
    z-index: -1;
}

.h2 {
    color: #ffffff;
    text-transform: uppercase;
}

.next {
    height: 320px;
    background-repeat: no-repeat;
}

.proximasedicoes p {
    color: #ffffff;
    font-size: 28px;
}

.cpnatal {
    background-image: url(../project-campusparty/images/banner-cpnatal2.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 70px;
    padding-top: 200px;
    box-sizing: border-box;
    margin-right: 5vw;
    margin-top: 30px;
}

.cpgoias {
    background-image: url(../project-campusparty/images/banner-cpgoias.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
    text-align: right;
    padding-right: 70px;
    padding-top: 200px;
    box-sizing: border-box;
    margin-right: 5vw;
}

.edicoesanteriores div h3 {
    margin-bottom: 30px;
    display: block;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.previous {
    display: flex;
    margin-bottom: 110px;
    justify-content: center;
}

.previous-1 {
    background-image: url(../project-campusparty/images/ed-anterior-cpbr12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
}

.previous-2 {
    background-image: url(../project-campusparty/images/ed-anterior-cpbsb3.png);
    background-size: cover;
    background-position: center;
    height: 320px;
    margin-left: 30px;
}

.cpinsta {
    background-image: url(../project-campusparty/images/banner-cp-intagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cpbrhashtag {
    background-color: #E82194;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    width: 160px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: -16px;
}

.img-instagram {
    width: 20%;
    margin: 2px;
}

.instaimages {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}